.card {
	padding: 24px 48px;
	height: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.date {
	font-size: 18px;
	font-weight: bold;
	color: var(--accent-blue);
	margin-bottom: 6px;
}

.title {
	margin: 0 0 8px 0;
	font-size: 20px;
	font-weight: 600;
	color: #213047;
	text-wrap: nowrap;
}

.description {
	margin: 0;
	font-size: 15px;
	line-height: 1.5;
	color: #3a4a5a;
	text-align: center;
}
