.timeline {
	padding: 40px 80px;
}

.header h2 {
	font-size: 36px;
	margin: 0 0 20px 0;
}

.centerArea {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 420px;
}

.numberLarge {
	font-size: 160px;
	font-weight: 700;
	z-index: -1;
	color: var(--accent-blue);

	display: flex;
	gap: 40px;

	span:last-child {
		color: var(--accent-pink);
	}
}

.circleContainer {
	position: absolute;
}

.mainCircle {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 2px solid rgb(202, 181, 181);
}

/* Base dot styles */
.dot {
	position: absolute;
	--dot-size: 16px;
	--mini-circle-size: 40px;

	aspect-ratio: 1 / 1;
	width: var(--dot-size);
	height: var(--dot-size);
	background-color: rgb(65, 167, 95);
	border-radius: 50%;
	border: none;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease;

	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Dot number (hidden by default) */
.dotNumber {
	color: white;
	font-size: 0;
	font-weight: bold;
	transition: font-size 0.3s ease;
	user-select: none;
}

/* Hover effects */
.dot:hover {
	width: var(--mini-circle-size);
	height: var(--mini-circle-size);
	background-color: #333;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.dot:hover .dotNumber {
	font-size: 16px;
}

.sliderArea {
	margin-top: 30px;
}

.footerControls {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 24px;
}

.footerControls button {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: none;
	background: white;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
	cursor: pointer;
}

.indexInfo {
	color: #6b7b8f;
}
