.timeline {
	position: relative;

	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-image: linear-gradient(to bottom, var(--submissive-grey) 0%, var(--submissive-grey) 100%),
		linear-gradient(to right, var(--submissive-grey) 0%, var(--submissive-grey) 100%);
	background-position: 50% 0, 0 37%;
	background-size: 1px 100%, 100% 1px;
	background-repeat: no-repeat;

	border-left: 1px solid var(--submissive-grey);
	border-right: 1px solid var(--submissive-grey);
}

.header {
	position: absolute;
	top: 15%;

	font-size: clamp(24px, 2.5vw, 42px);

	border-left: 5px solid;
	border-image: linear-gradient(to bottom, var(--accent-blue), var(--accent-pink)) 1;
	padding-left: var(--timeline-left-padding);
}

.centerArea {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 420px;
}

.numberLarge {
	font-size: clamp(60px, 10.5vw, 160px);

	font-weight: 700;
	color: var(--accent-blue);

	display: flex;
	gap: 40px;

	span:last-child {
		color: var(--accent-pink);
	}
}

.circleContainer {
	position: absolute;

	.categoryName {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 18px;
		font-weight: bold;
		color: #023d11;
	}
}

.mainCircle {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 1px solid var(--submissive-grey);
	position: relative;
}

/* Base dot styles */
.dot {
	position: absolute;
	--dot-size: 16px;
	--mini-circle-size: 40px;

	aspect-ratio: 1 / 1;
	width: var(--dot-size);
	height: var(--dot-size);
	background-color: rgb(65, 167, 95);
	border-radius: 50%;
	border: none;
	outline: none;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease;

	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	.category {
		color: black;
		position: absolute;
		left: 40px;
		bottom: 40px;

		transition: none;
	}
}

/* Dot number (hidden by default) */
.dotNumber {
	color: white;
	font-size: 0;
	font-weight: bold;
	transition: font-size 0.3s ease;
	user-select: none;
}

/* Hover effects */
.dot:hover,
.chosenDot {
	width: var(--mini-circle-size);
	height: var(--mini-circle-size);
	background-color: #333;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

	.dotNumber {
		color: white;
		font-size: 16px;
	}
}

.dot:hover .dotNumber {
	font-size: 16px;
}

.sliderArea {
	margin-top: 30px;
}

.manualSwitch {
	position: absolute;
	top: 55%;

	display: flex;
	align-items: center;
	gap: 12px;

	padding-left: var(--timeline-left-padding);
}

.manualSwitch button {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: none;
	background: white;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
	cursor: pointer;
	padding: 0;

	font-size: 18px;

	&:disabled {
		pointer-events: none;
	}
}

.indexInfo {
	color: #6b7b8f;
}
